process {
    withName:Medaka {
        conda = '/home/kkim/micromamba/envs/medaka'
    }
    withName:Snakehead_fastmer {
        conda = '/home/kkim/micromamba/envs/fastmer'
    }
    withName:Medaka_fastmer {
        conda = '/home/kkim/micromamba/envs/fastmer'
    }
}

conda {
    enabled=true
}